<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title> the Hero Wiki</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery-func.js"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
	<!-- Header -->
	<div id="header">
		<h1 id="logo">The Hero Wikipedia</a></h1>
		<div class="social">
			<span>FOLLOW US ON:</span>
			<ul>
			    <li><a class="twitter" href="#">twitter</a></li>
			    <li><a class="facebook" href="#">facebook</a></li>
			</ul>
		</div>
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="{{url_for('home_page')}}">HOME</a></li>
			    <li><a href="{{url_for('vote_page')}}">VOTE</a></li>
			    <li><a href="{{url_for('signup_page')}}">SIGN UP & LOGIN</a></li>
			</ul>
		</div>
		<!-- end Navigation -->
		
		<!-- Sub-menu -->
		<div id="sub-navigation">
			<ul>
			</ul>
			<div id="search">
				<form action="home_submit" method="get" accept-charset="utf-8">
					<label for="search-field">SEARCH</label>					
					<input type="text" name="search field" value="Enter search here" id="search-field" title="Enter search here" class="blink search-field"  />
					<input type="submit" value="GO!" class="search-button" />
				</form>
			</div>
		</div>
		<!-- end Sub-Menu -->
		
	</div>
	<!-- end Header -->
    <div id="vote">
        <form action = "/vote" method = "POST">
   				<br>
   				<br>
          		<p><input type="radio" name ="superman" value="superman">superman</p>
    			<br>
    			<br>
    			<br>
    			<p><input type="radio" name="batman" value="batman">batman</p>
    			<br>
    			<br>
    			<br>
    			<p><input type="radio" name="all might" value="all might">all might</p>
    			<br>
    			<br>
    			<br>
    			<input type="submit" name="submit" placeholder="submit">

        </form>
    </div>
</body>
</html>